beautifulsoup4
csvkit
ipython
jsonlines
jupyter
lxml
matplotlib
numpy
openpyxl
pandas
plotly
psycopg2-binary
pypdf
python-docx
python-pptx
pyyaml
requests
rich
scikit-learn
scipy
seaborn
sqlalchemy
toml
tqdm
weasyprint
